In [2]:
import pandas as pd
import numpy as np

pokemon = pd.read_csv('https://raw.githubusercontent.com/lgreski/pokemonData/master/Pokemon.csv', index_col=1)
games = pd.read_csv('clean_games.csv', index_col=0)

Examine the first few rows of each dataframe. What is the **index** for each?

In [3]:
# Examine the dataframes here:
games.head()

,Name,Year,Weight,AvgRating,MinPlayers,MaxPlayers,NumRatings,Kickstarted,Rank,Category
BGGId,,,,,,,,,,
1,Die Macher,1986,4.3206,7.61428,3,5,5354,0,316,Strategy
2,Dragonmaster,1981,1.9630,6.64537,3,4,562,0,3993,Strategy
3,Samurai,1998,2.4859,7.45601,2,4,15146,0,224,Strategy
4,Tal der Könige,1992,2.6667,6.60006,2,4,340,0,5345,Thematic
6,Mare Mediterraneum,1989,3.0000,6.55370,2,6,81,0,10766,Thematic

`pokemon` index: "Name"

`games` index: "BGGId"

Use `pd.pivot_table` to create a dataframe that displays a count of the number of Pokemon of each *primary* type within each generation. Specifically, the rows should represent primary type, the columns should represent the generation, and the values are a count of the number of Pokemon for each type/generation combo.

In [4]:
# Your code here
pd.pivot_table(pokemon, index = "Type1", values =  "Total", columns="Generation", aggfunc= "count")

Generation     1     2     3     4     5     6     7     8     9
Type1
Bug         12.0  10.0  12.0  12.0  18.0   7.0   9.0   4.0   7.0
Dark         NaN   5.0   4.0   3.0  13.0   6.0   5.0  12.0   8.0
Dragon       3.0   NaN   7.0   3.0   9.0  10.0   5.0   4.0   8.0
Electric     9.0   6.0   4.0  12.0   8.0   5.0   7.0  13.0   9.0
Fairy        2.0   5.0   NaN   1.0   NaN   9.0   1.0   6.0   7.0
Fighting     7.0   2.0   4.0   2.0   7.0   5.0   4.0  13.0   6.0
Fire        12.0   8.0   7.0   5.0   9.0  12.0   7.0   8.0   7.0
Flying       NaN   NaN   NaN   NaN   2.0   2.0   NaN   4.0   2.0
Ghost        3.0   1.0   4.0   7.0   5.0  12.0   5.0   5.0   5.0
Grass       12.0   9.0  12.0  14.0  15.0   8.0  13.0  10.0  12.0
Ground       8.0   3.0   6.0   4.0  10.0   1.0   4.0   6.0   4.0
Ice          2.0   4.0   7.0   3.0   6.0   3.0   4.0  11.0   3.0
Normal      22.0  15.0  18.0  17.0  18.0   8.0  13.0   7.0  13.0
Poison      14.0   1.0   3.0   6.0   2.0   2.0   8.0   5.0   4.0
Psychic      8.0   7.0  11.0   7.0  14.0  10.0  10.0  13.0   2.0
Rock         9.0   4.0   8.0   6.0   6.0  11.0  12.0   4.0   7.0
Steel        NaN   2.0   9.0   3.0   4.0   9.0   4.0   8.0   4.0
Water       28.0  18.0  25.0  13.0  19.0  11.0  11.0  14.0  11.0

Use `pd.pivot_table` to create a dataframe that displays the average *number* of reviews for games broken down by category between 2001 and 2021. The categories should be the row labels.

In [8]:
# Your code here
pd.pivot_table(games, index = "Category", values = "NumRatings", columns = "Year", aggfunc= "count", margins = True)

Year,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,All
Category,,,,,,,,,,,,,,,,,,,,,
Abstract,9.0,9.0,10.0,11.0,5.0,9.0,11.0,14.0,8.0,7.0,...,12.0,13.0,14.0,16.0,17.0,12.0,9.0,5.0,1.0,721
CGS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.0,10.0,12.0,4.0,2.0,2.0,2.0,NaN,1.0,241
Childrens,3.0,7.0,5.0,4.0,6.0,4.0,10.0,5.0,18.0,12.0,...,8.0,7.0,7.0,6.0,6.0,6.0,6.0,2.0,NaN,625
Family,5.0,4.0,8.0,6.0,4.0,9.0,5.0,10.0,9.0,5.0,...,95.0,98.0,99.0,95.0,87.0,90.0,96.0,55.0,21.0,1701
Party,NaN,NaN,NaN,2.0,2.0,1.0,3.0,NaN,3.0,7.0,...,35.0,21.0,26.0,30.0,26.0,19.0,9.0,8.0,1.0,421
Strategy,5.0,7.0,4.0,1.0,4.0,1.0,6.0,4.0,4.0,6.0,...,112.0,120.0,153.0,122.0,118.0,115.0,109.0,84.0,41.0,2032
Thematic,41.0,50.0,49.0,53.0,38.0,59.0,63.0,66.0,60.0,67.0,...,521.0,683.0,782.0,963.0,1009.0,1026.0,988.0,698.0,566.0,11855
War,65.0,73.0,50.0,58.0,43.0,49.0,53.0,39.0,33.0,35.0,...,86.0,80.0,92.0,85.0,91.0,81.0,83.0,75.0,29.0,2851
All,128.0,150.0,126.0,135.0,102.0,132.0,151.0,138.0,135.0,139.0,...,875.0,1032.0,1185.0,1321.0,1356.0,1351.0,1302.0,927.0,660.0,20447

In [ ]:
pokemon.columns

Index(['ID', 'Form', 'Type1', 'Type2', 'Total', 'HP', 'Attack', 'Defense',
       'Sp. Atk', 'Sp. Def', 'Speed', 'Generation'],
      dtype='object')